<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="portable45-net45+wp8" />
  <package id="Com.OneSignal" version="3.2.2" targetFramework="portable45-net45+wp8" />
  <package id="Fielder.Fody" version="1.2.4" targetFramework="portable45-net45+wp8" />
  <package id="Fody" version="3.3.5" targetFramework="portable45-net45+wp8" developmentDependency="true" />
  <package id="LiveXAML" version="2.1.70" targetFramework="portable45-net45+wp8" />
  <package id="Microsoft.AppCenter" version="1.14.0" targetFramework="portable45-net45+wp8" />
  <package id="Microsoft.AppCenter.Analytics" version="1.14.0" targetFramework="portable45-net45+wp8" />
  <package id="Microsoft.AppCenter.Crashes" version="1.14.0" targetFramework="portable45-net45+wp8" />
  <package id="Microsoft.NETCore.Platforms" version="2.2.0" targetFramework="portable45-net45+wp8" />
  <package id="Microsoft.NETCore.Targets" version="2.1.0" targetFramework="portable45-net45+wp8" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="portable45-net45+wp8" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="portable45-net45+wp8" />
  <package id="PropertyChanged.Fody" version="2.6.0" targetFramework="portable45-net45+wp8" />
  <package id="Realm" version="3.4.0" targetFramework="portable45-net45+wp8" />
  <package id="Realm.Database" version="3.4.0" targetFramework="portable45-net45+wp8" />
  <package id="Realm.DataBinding" version="1.2.0" targetFramework="portable45-net45+wp8" />
  <package id="runtime.native.System" version="4.3.1" targetFramework="portable45-net45+wp8" />
  <package id="System.Collections" version="4.3.0" targetFramework="portable45-net45+wp8" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="portable45-net45+wp8" />
  <package id="System.Diagnostics.Contracts" version="4.0.1" targetFramework="portable45-net45+wp8" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="portable45-net45+wp8" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="portable45-net45+wp8" />
  <package id="System.Dynamic.Runtime" version="4.0.11" targetFramework="portable45-net45+wp8" />
  <package id="System.Globalization" version="4.3.0" targetFramework="portable45-net45+wp8" />
  <package id="System.IO" version="4.3.0" targetFramework="portable45-net45+wp8" />
  <package id="System.Linq" version="4.3.0" targetFramework="portable45-net45+wp8" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="portable45-net45+wp8" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="portable45-net45+wp8" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="portable45-net45+wp8" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="portable45-net45+wp8" />
  <package id="System.Reactive" version="3.1.1" targetFramework="portable45-net45+wp8" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="portable45-net45+wp8" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="portable45-net45+wp8" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="portable45-net45+wp8" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="portable45-net45+wp8" />
  <package id="System.Reflection" version="4.3.0" targetFramework="portable45-net45+wp8" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="portable45-net45+wp8" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="portable45-net45+wp8" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="portable45-net45+wp8" />
  <package id="System.Runtime" version="4.3.1" targetFramework="portable45-net45+wp8" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="portable45-net45+wp8" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.0.1" targetFramework="portable45-net45+wp8" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Threading" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="portable45-net45+wp8" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Validation" version="2.2.8" targetFramework="portable45-net45+wp8" />
  <package id="Xamarin.Essentials" version="1.0.1" targetFramework="portable45-net45+wp8" />
  <package id="Xamarin.FFImageLoading" version="2.4.4.859" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.4.859" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="3.6.0.293080" targetFramework="portable45-net45+wp8" />
</packages>