<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Streethawk.IOS.Beacon" version="1.8.7" targetFramework="xamarinios10" />
  <package id="Streethawk.IOS.Core" version="1.8.7" targetFramework="xamarinios10" />
  <package id="Streethawk.IOS.Feed" version="1.8.7" targetFramework="xamarinios10" />
  <package id="Streethawk.IOS.Geofence" version="1.8.7" targetFramework="xamarinios10" />
  <package id="Streethawk.IOS.Growth" version="1.8.7" targetFramework="xamarinios10" />
  <package id="Streethawk.IOS.Location" version="1.8.7" targetFramework="xamarinios10" />
  <package id="Streethawk.IOS.Push" version="1.8.7" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.280555" targetFramework="xamarinios10" />
</packages>