<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.townfish.app" android:installLocation="auto"
		  android:versionCode="180627" android:versionName="1.3.2.0"
		  android:largeHeap="false">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<!-- Begin StreetHawk -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
	<uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
	<uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
	<uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
	<uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
	<permission android:name="com.townfish.app.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.townfish.app.permission.C2D_MESSAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<!-- End StreetHawk -->
	<application android:label="TownFish" android:icon="@drawable/icon">
		<!-- Begin StreetHawk -->
		<receiver android:name="com.streethawk.library.core.StreethawkBroadcastReceiver" android:enabled="true" android:exported="true">
			<intent-filter>
				<action android:name="android.location.PROVIDERS_CHANGED" />
				<action android:name="android.intent.action.TIMEZONE_CHANGED" />
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
				<action android:name="com.streethawk.intent.action.gcm.STREETHAWK_APP_STATUS_CHK" />
			</intent-filter>
		</receiver>
		<service android:name="com.streethawk.library.core.StreetHawkCoreService" android:enabled="true" android:exported="true"></service>
		<receiver android:name="com.streethawk.library.push.GCMReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.townfish.app" />
			</intent-filter>
		</receiver>
		<activity android:name="com.streethawk.library.push.SHFeedbackActivity" android:label="@string/title_activity_shfeedback"></activity>
		<service android:name="com.streethawk.library.push.SHGcmListenerService" android:exported="false">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
			</intent-filter>
		</service>
		<receiver android:name="com.streethawk.library.push.PushNotificationBroadcastReceiver">
			<intent-filter>
				<action android:name="com.streethawk.intent.action.pushnotification" />
				<action android:name="com.streethawk.intent.action.gcm.STREETHAWK_DECLINED" />
				<action android:name="com.streethawk.intent.action.gcm.STREETHAWK_POSTPONED" />
				<action android:name="com.streethawk.intent.action.gcm.STREETHAWK_ACCEPTED" />
				<action android:name="com.streethawk.intent.action.APP_STATUS_NOTIFICATION" />
				<action android:name="com.streethawk.intent.action.MSG_FROM_CORE" />
			</intent-filter>
		</receiver>
		<service android:name="com.streethawk.library.push.SHInstanceIDListenerService" android:enabled="true" android:exported="true">
			<intent-filter>
				<action android:name="com.google.android.gms.iid.InstanceID" />
			</intent-filter>
		</service>
		<!-- End StreetHawk -->
	</application>
</manifest>